@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

.mulish-regular {
  font-family: "Onest", monospace, system-ui, -apple-system;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.background {
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
