@import "@fontsource-variable/montserrat";

body {
  background-image: url("../assets/bg/bg.webp");
  background-size: contain;
  background-color: black;
  color: white;
  font-family: "Montserrat Variable", sans-serif;
}
