.animation-carousel {
  animation: scroll-marquee 25s linear infinite;
  min-width: max-content;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
