---
import Layout from "@layouts/home/layout.astro";

const title = "Moises Obando | iGaming Front End Developer";
const description =
  "Portfolio Web | I love creating immersive and amazing websites that enhance the player experience through carefully crafted code and user-centric design.";
const canonicalUrl = "https://moisesobando.com";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <div class="flex w-full h-dvh items-center justify-center">New Project Version</div>
</Layout>
