---
import Layout from "@layouts/layout.astro";
import Hero from "@sections/Hero.astro";
import Projects from "@sections/Projects.jsx";

const title = "Senior Frontend Developer | Moises Obando";
const description =
  "Transforming ideas into elegant, high-performance, and responsive web experiences, with a background in the iGaming industry.";
const canonicalUrl = "https://moisesobando.com";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <div
    class="flex justify-center items-center h-screen p-4 text-[#e7f8ff]/80 bg-black overscroll-none"
  >
    <!-- Background -->
    <!-- Content -->
    <div class="w-xl">
      <!-- Hero -->
      <Hero />

      <!-- Search projects by stack -->
      <Projects client:load />
    </div>
  </div>
</Layout>
