---
import Layout from "@layouts/layout.astro";
import Hero from "@sections/Hero.astro";
import Projects from "@sections/Projects";

const title = "Moi | Frontend Developer"; 
const description =
  "Transforming ideas into elegant, high-performance, and responsive web experiences, with a background in the iGaming industry.";
const canonicalUrl = "https://moisesobando.com";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <div
    class="background mulish-regular flex justify-center items-start min-h-screen pt-4 sm:pt-24 text-[#e7f8ff]/80 bg-black overscroll-none"
  >
    <!-- Content -->
    <div class="w-full sm:w-xl p-4 absolute">
      <!-- Hero -->
      <Hero />

      <!-- Search projects by stack -->
      <Projects client:load />
    </div>
  </div>
</Layout>
