---
const { years, regularText, boldText } = Astro.props;
---

<div class="rounded-lg py-14 px-5 border space-y-5">
  <p>
    <span class="font-semibold text-6xl">{years}</span>
  </p>
  <p>
    <span class="text-lg text-[#888888] sm:text-xl">
      {regularText}
      {boldText}
    </span>
  </p>
</div>
