---
import SocialNetwork from "./SocialNetwork.astro";
---

<section class="space-y-10">
  <hr class="border border-white" />
  <div
    class="flex flex-col justify-center items-center text-white text-center space-y-3"
  >
    <h2 class="font-semibold text-4xl">Ready for a Digital Revolution?</h2>
    <p class="text-lg">
      Join forces with a web wizard and bring your online vision to life. Dare
      to dream big, and let’s get started. Contact me today and let me
      contribute my skills to your team!
    </p>
  </div>
  <div class="flex justify-center items-center">
    <a
      href="mailto:lunox.code@gmail.com"
      class="border-b-2 border-t-2 border-blue-600 text-white font-medium rounded-md py-3 px-5 hover:bg-[#061A40] hover:text-white hover:font-semibold"
    >
      GET IN TOUCH
    </a>
  </div>
  <SocialNetwork />
</section>
