---
import CardExperience from "../components/CardExperience.astro";
---

<section class="grid grid-cols-2 sm:grid-cols-3 text-center gap-5 sm:gap-8">
  <CardExperience
    years="2+"
    regularText="Years of magic experience in "
    boldText="React Js"
  />
  <CardExperience
    years="2+"
    regularText="Years in the "
    boldText="iGaming industry"
  />
  <CardExperience years="15+" regularText="Projects for " boldText="Betcris" />
</section>
