---
import SocialNetwork from "./SocialNetwork.astro";
import linkedinLogo from "../assets/social/linkedin.svg";
import githubLogo from "../assets/social/github.svg";
import instagramLogo from "../assets/social/ig.svg";
---

<section class="m-h-screen flex flex-col justify-center items-center space-y-6">
  <div
    class="flex flex-col justify-center items-center text-white text-center divide-y-2 space-y-5"
  >
    <h2 class="font-semibold text-2xl sm:text-3xl">
      Ready for a Digital Revolution?
    </h2>
    <p class="text-sm sm:text-base text-gray-300">
      <br />
       Join forces with a web wizard and bring your online vision to life. Dare
      to dream big, and let’s get started. Contact me today and let me
      contribute my skills to your team!
    </p>
  </div>
  <div class="flex justify-center items-center">
    <a
      href="mailto:lunox.code@gmail.com"
      class="border-b-2 border-t-2 border-[#4477CE] rounded-md py-4 px-10 hover:bg-[#061A40]"
    >
      GET IN TOUCH
    </a>
  </div>
  <figure class="flex flex-row justify-center gap-2">
    <SocialNetwork
      name="LinkedIn"
      logo={linkedinLogo}
      url="https://www.linkedin.com/in/moises-obando/"
    />
    <SocialNetwork
      name="GitHub"
      logo={githubLogo}
      url="https://github.com/Lunox-code"
    />
    <SocialNetwork
      name="Instagram"
      logo={instagramLogo}
      url="https://www.instagram.com/lunox.code/"
    />
  </figure>
</section>
