---
import { Image } from "astro:assets";
const { name, logo, url } = Astro.props;
---

<>
  <a href={url} target="_blank" rel="noreferrer noopener nofollow">
    <Image
      src={logo}
      alt={name}
      height="50"
      width="50"
      loading="eager"
      class="hover:scale-125 w-9 h-9"
    />
  </a>
</>
