<section>
  <h2 class="text-lg font-medium">Who am I?</h2>
  <p>
    A skilled Front End Developer with 3+ years of professional experience and a
    deep passion for the iGaming industry. I love creating immersive and amazing
    websites that enhance the player experience through carefully crafted code
    and user-centric design.
  </p>
</section>
