<section class="space-y-1">
  <h1 class="text-sm sm:text-base">Moises Obando</h1>
  <h2 class="font-semibold wrap-break-word text-sm sm:text-lg">
    Senior Frontend Developer | Learning WEB3
  </h2>
  <p class="text-xs sm:text-sm opacity-90">
    Transforming ideas into elegant, high-performance, and responsive web
    experiences, with a background in the iGaming industry.
    <br />
  </p>
</section>
