<section class="space-y-1">
  <h1 class="text-base sm:text-lg">Moises Obando</h1>
  <h2
    class="font-semibold wrap-break-word text-base sm:text-xl bg-gradient-to-r from-cyan-600 via-cyan-500 to-cyan-600 inline-block text-transparent bg-clip-text"
  >
    Frontend Developer
  </h2>
  <p class="text-sm sm:text-base opacity-90">
    Transforming ideas into elegant, high-performance, and responsive web
    experiences, with a background in the iGaming industry, while 
    exploring AI through both Blockchain and PixiJS V8.
    <br />
  </p>
</section>
