---
import Email from "@components/Email";
---

<section>
  <h1>Moisés Obando</h1>
  <h2>iGaming Front End Developer</h2>
  <Email client:load />
  <div class="flex w-full gap-2 my-2">
    <a
      href="https://github.com/lunoxdev"
      target="_blank"
      rel="external noopener noreferrer"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a mi repositorio de GitHub"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        ><g
          fill="none"
          stroke="#ffffff"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          color="#ffffff"
          ><path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568"></path><path
            d="M10 22v-3.242c0-.598.184-1.118.48-1.588c.204-.322.064-.78-.303-.88C7.134 15.452 5 14.107 5 9.645c0-1.16.38-2.25 1.048-3.2c.166-.236.25-.354.27-.46c.02-.108-.015-.247-.085-.527c-.283-1.136-.264-2.343.16-3.43c0 0 .877-.287 2.874.96c.456.285.684.428.885.46s.469-.035 1.005-.169A9.5 9.5 0 0 1 13.5 3a9.6 9.6 0 0 1 2.343.28c.536.134.805.2 1.006.169c.2-.032.428-.175.884-.46c1.997-1.247 2.874-.96 2.874-.96c.424 1.087.443 2.294.16 3.43c-.07.28-.104.42-.084.526s.103.225.269.461c.668.95 1.048 2.04 1.048 3.2c0 4.462-2.134 5.807-5.177 6.643c-.367.101-.507.559-.303.88c.296.47.48.99.48 1.589V22"
          ></path></g
        ></svg
      >
    </a>
    <a
      href="https://www.instagram.com/lunox.dev/"
      target="_blank"
      rel="external noopener noreferrer"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a mi Instagram"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        ><g
          fill="none"
          stroke="#ffffff"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          color="#ffffff"
          ><path
            d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"
          ></path><path
            d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01"
          ></path></g
        ></svg
      >
    </a>
    <a
      href="https://www.linkedin.com/in/moises-obando/"
      target="_blank"
      rel="external noopener noreferrer"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a mi Linkedin"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        ><path
          fill="#ffffff"
          d="M13 21H9V9h4v2a4.618 4.618 0 0 1 3.525-1.763A4.5 4.5 0 0 1 21 13.75V21h-4v-6.75a2.265 2.265 0 0 0-2.247-1.944A1.815 1.815 0 0 0 13 14.25V21Zm-6 0H3V9h4v12ZM5 7a2 2 0 1 1 0-4a2 2 0 0 1 0 4Z"
        ></path></svg
      >
    </a>
  </div>
</section>
