<section>
  <h2 class="mb-3">Latest Projects</h2>

  <!-- Grid -->
  <div class="grid grid-cols-3 gap-3 w-full">
    <!-- Card 1 -->
    <article>
      <a
        href="https://micasadeapuesta.pe/"
        target="_blank"
        rel="external noreferrer noopener follow"
        aria-label="Visit https://micasadeapuesta.pe/ website"
      >
        <img
          src="/img/micasadeapuestape.webp"
          alt="Imagen sitio web https://micasadeapuesta.pe/"
          class="mb-2 rounded-md hover:scale-105 transition"
        />
        <span class="hover:underline hover:underline-offset-4">
          Mi Casa de Apuesta Perú
        </span>
      </a>
    </article>

    <!-- Card 2 -->
    <article>
      <a
        href="https://micasadeapuesta.com/"
        target="_blank"
        rel="external noreferrer noopener follow"
        aria-label="Visit https://micasadeapuesta.com/ website"
      >
        <img
          src="/img/micasadeapuestalatam.webp"
          alt="Imagen sitio web https://micasadeapuesta.com/"
          class="mb-2 rounded-md hover:scale-105 transition"
        />
        <span class="hover:underline hover:underline-offset-4">
          Mi Casa de Apuesta Latam
        </span>
      </a>
    </article>

    <!-- Card 3 -->
    <article>
      <a
        href="https://mobilelegendscounter.com/"
        target="_blank"
        rel="external noreferrer noopener nofollow"
        aria-label="Visit https://mobilelegendscounter.com/ web"
      >
        <img
          src="/img/mobile-legends-counters.webp"
          alt="Imagen sitio web https://mobilelegendscounter.com/"
          class="mb-2 rounded-md hover:scale-105 transition"
        />
        <span class="hover:underline hover:underline-offset-4">
          Mobile Legends Counters
        </span>
      </a>
    </article>
  </div>
</section>
